h1{border-bottom: 1rem solid green;
}
h2{
    font-style: oblique;
}
a:link {
    color: rgb(165, 159, 218);
  }
  
  a:visited {
    color: rgb(4, 0, 255);
  }
  
  a:hover {
    text-decoration: rgb(206, 204, 228);
  }
  h3{
    border-bottom: dashed rgb(35, 134, 110);
  }
  h2{border-bottom: thick double rgba(120, 209, 93, 0.733);
}
 em{
    color: rgb(43, 226, 211);
}